
.mobileText
{
	border-radius: 4px;
	height: 37px;
	font-size: 20px;
	margin: 5px;
}

.mobileButton
{
	color: white;
	border-radius: 6px;
	border: 1px solid black;
	height: 40px;
	font-size: 20px;
	font-weight: bold;	
	text-shadow: #666 1px 1px;
	margin: 5px;
	padding: 8px;
	cursor: pointer;
	background: #8c3310; /* Old browsers */
	background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #722e13 51%, #6d3928 69%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#722e13), color-stop(69%,#6d3928), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* W3C */
}

.mobileButton[buttoncolor=maroon]
{
	background: rgb(239,197,202); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,197,202,1)), color-stop(50%,rgba(210,75,90,1)), color-stop(51%,rgba(186,39,55,1)), color-stop(100%,rgba(241,142,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(239,197,202,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(241,142,153,1) 100%); /* W3C */
}

.mobileButton[buttoncolor=purple]
{
	background: rgb(211,86,209); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(211,86,209,1) 0%, rgba(176,42,183,1) 50%, rgba(156,0,170,1) 51%, rgba(190,46,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,86,209,1)), color-stop(50%,rgba(176,42,183,1)), color-stop(51%,rgba(156,0,170,1)), color-stop(100%,rgba(190,46,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(211,86,209,1) 0%,rgba(176,42,183,1) 50%,rgba(156,0,170,1) 51%,rgba(190,46,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(211,86,209,1) 0%,rgba(176,42,183,1) 50%,rgba(156,0,170,1) 51%,rgba(190,46,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(211,86,209,1) 0%,rgba(176,42,183,1) 50%,rgba(156,0,170,1) 51%,rgba(190,46,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(211,86,209,1) 0%,rgba(176,42,183,1) 50%,rgba(156,0,170,1) 51%,rgba(190,46,204,1) 100%); /* W3C */
}

.mobileButton[buttoncolor=brown]
{
	background: #D37000; /* Old browsers */
	background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #722e13 51%, #6d3928 69%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#722e13), color-stop(69%,#6d3928), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#722e13 51%,#6d3928 69%,#bf6e4e 100%); /* W3C */
}

.mobileButton[buttoncolor=blue]
{
	background: #b8e1fc;
	background: -moz-linear-gradient(top,  #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd));
	background: -webkit-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
	background: -o-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
	background: -ms-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
	background: linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%);
}

.mobileButton[buttoncolor=green]
{
	background: #80a82b; /* Old browsers */
	background: -moz-linear-gradient(top, #c9ceab 0%, #8eb92a 50%, #72aa00 51%, #80a82b 71%, #afc96e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9ceab), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(71%,#80a82b), color-stop(100%,#afc96e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c9ceab 0%,#8eb92a 50%,#72aa00 51%,#80a82b 71%,#afc96e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c9ceab 0%,#8eb92a 50%,#72aa00 51%,#80a82b 71%,#afc96e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c9ceab 0%,#8eb92a 50%,#72aa00 51%,#80a82b 71%,#afc96e 100%); /* IE10+ */
	background: linear-gradient(top, #c9ceab 0%,#8eb92a 50%,#72aa00 51%,#80a82b 71%,#afc96e 100%); /* W3C */
}
.mobileButton[buttoncolor=yellow]
{
	background: #fdffbf; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdffbf 0%, #f3fc4e 49%, #f7ef00 51%, #f2f791 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdffbf), color-stop(49%,#f3fc4e), color-stop(51%,#f7ef00), color-stop(100%,#f2f791)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdffbf 0%,#f3fc4e 49%,#f7ef00 51%,#f2f791 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdffbf 0%,#f3fc4e 49%,#f7ef00 51%,#f2f791 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdffbf 0%,#f3fc4e 49%,#f7ef00 51%,#f2f791 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdffbf 0%,#f3fc4e 49%,#f7ef00 51%,#f2f791 100%); /* W3C */
}
.mobileButton[buttoncolor=darkorange]
{
	background: #feccb1; /* Old browsers */
	background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
}
.mobileButton[buttoncolor=orange]
{
background: #f9da8b; /* Old browsers */
background: -moz-linear-gradient(top,  #f9da8b 0%, #f7b818 51%, #e09d00 51%, #f9d068 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9da8b), color-stop(51%,#f7b818), color-stop(51%,#e09d00), color-stop(100%,#f9d068)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9da8b 0%,#f7b818 51%,#e09d00 51%,#f9d068 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9da8b 0%,#f7b818 51%,#e09d00 51%,#f9d068 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9da8b 0%,#f7b818 51%,#e09d00 51%,#f9d068 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9da8b 0%,#f7b818 51%,#e09d00 51%,#f9d068 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9da8b', endColorstr='#f9d068',GradientType=0 ); /* IE6-9 */

}
.mobileButton[buttoncolor=red]
{
	background: #FF0000; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd3d4 0%, #ff5b5e 50%, #ff3538 51%, #ff5154 78%, #ff9698 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd3d4), color-stop(50%,#ff5b5e), color-stop(51%,#ff3538), color-stop(78%,#ff5154), color-stop(100%,#ff9698)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffd3d4 0%,#ff5b5e 50%,#ff3538 51%,#ff5154 78%,#ff9698 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffd3d4 0%,#ff5b5e 50%,#ff3538 51%,#ff5154 78%,#ff9698 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffd3d4 0%,#ff5b5e 50%,#ff3538 51%,#ff5154 78%,#ff9698 100%); /* IE10+ */
	background: linear-gradient(top, #ffd3d4 0%,#ff5b5e 50%,#ff3538 51%,#ff5154 78%,#ff9698 100%); /* W3C */
}
.mobileButton[disabled]
{
	color: #dddddd;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top, #afafaf 0%, #898989 50%, #6d6d6d 51%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(50%,#898989), color-stop(51%,#6d6d6d), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* W3C */
}
.mobileButton[buttoncolor=grey]
{
	color: #dddddd;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top, #afafaf 0%, #898989 50%, #6d6d6d 51%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(50%,#898989), color-stop(51%,#6d6d6d), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* W3C */
}
.mobileButton[buttoncolor=gray]
{
	color: #dddddd;
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top, #afafaf 0%, #898989 50%, #6d6d6d 51%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(50%,#898989), color-stop(51%,#6d6d6d), color-stop(100%,#bcbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* IE10+ */
	background: linear-gradient(top, #afafaf 0%,#898989 50%,#6d6d6d 51%,#bcbcbc 100%); /* W3C */
}

.mobileButton[buttoncolor=white]
{
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
}



