body
{
	font-family: Verdana, Lucida Grande, sans-serif;
	color: white; 
	z-index: 10;
}

hr
{
	border: 1px solid black;
}

tr[playing]
{
	color: #fc3; 
	font-weight: bold;
}

/*
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
*/

.titleBar
{
	width: 100%;
	height: 36px;
	position: absolute; 
	left: 0;
	top: 8px;
	z-index: 0;
}

#outerGlobalDiv {
	margin: 2px;
	max-width: 600px;
	/*width: 100%;
	max-width: 600px;*/
}

.farklePage {
	/*max-width: 500px;*/
}

.pageWidth
{
	width: 100%; 
}

.tourneyButton {
	border-radius: 6px; 
	border: 1px solid black; 
}

table.statsTable {
    color: #96D3F2;
	text-shadow:
	2px 2px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
table.statsTable td:first-child {
    color: white;
}


table.tabLeaderboard {
	text-shadow:
	2px 2px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
table.tabLeaderboard tr[header]
{
	background-color: rgba(0,0,255,0.3);
	height: 24px;
}
table.tabLeaderboard tr {
	height: 36px;
}
table.tabLeaderboard tr[row1]
{
	background-color: rgba(50,50,255,0.3);
}
table.tabLeaderboard tr[row2]
{
	background-color: rgba(100,100,255,0.3);
}
table.tabLeaderboard tr[row3]
{
	background-color: rgba(255,100,100,0.3);
}

td.farkleTab {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #EAFFBA;
	color: #222222; 
	cursor: pointer;
	opacity: 0.8;
	padding: 3px;
}
td.farkleTab:hover {
	opacity: 1;
	color: #000000;
}
td.farkleTab[selected] {
	background-color: #FFFFFF;
}
p
{
	font-size: 14px;
}

a:link {color: #ffffaa; text-decoration: underline; }
a:active {color: #ffffff; text-decoration: underline; }
a:visited {color: #ffffaa; text-decoration: underline; }
a:hover {color: #ffffff; text-decoration: underline; }

#scorePoints [scoretype=big] {
	font-size: 40px; 
	color: green;
	left: 35%;	
}
#scorePoints {
	top: 32%;
	font-size: 24px; 
	left: 46%;	
	text-shadow:
	2px 2px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	z-index: 100;
  position: absolute;
	-webkit-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;	
	transition:all 500ms ease-out;
}
#scorePoints[show] {
  top: 24%; 
	-webkit-transition:all 500ms ease-out;
	-moz-transition:all 500ms ease-out;
	-o-transition:all 500ms ease-out;
	-ms-transition:all 500ms ease-out;	
	transition:all 500ms ease-out;
}

#farkledImage
{
	position: absolute;
	left: -300px; 
	top: 13%;
	z-index: 100;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;	
	transition:all 300ms ease-in-out;
}
#farkledImage[show]
{
	left: 50%;
	margin-left: -150px;
	-webkit-transition:all 300ms ease-in-out;
	-moz-transition:all 300ms ease-in-out;
	-o-transition:all 300ms ease-in-out;
	-ms-transition:all 300ms ease-in-out;	
	transition:all 300ms ease-in-out;
}
#farkledImage[hide]
{
	left: 100%;
}
.loginBox
{
	background-image:url('/images/lightgreenfeltbg.png');
	border-radius: 8px;
	padding: 5px; 
	margin: 5px;
	border: 1px solid black;
	font-size: 12px;
}

.regularBox
{
	background-color: rgba(0,0,255,0.3);
	border-radius: 8px;
	padding: 5px; 
	margin: 5px;
	border: 1px solid black;
	font-size: 12px;
}

.playerInfoContainer
{
	background-color: rgba(0,0,255,0.3);
	border-radius: 8px;
	padding: 5px; 
	border: 1px solid black;
	font-size: 12px;
}

.inGameInfo
{
	font-size: 16px; 
	font-weight: bold; 
	margin: 8px 0 0 0;
	
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.roundScore
{
	font-weight: bold; 
	font-size: 20px;
}

.gameCard
{
	color: black;
	border-radius: 8px;
	border: 1px solid black;
	padding: 0;
	height: 36px; 
	margin: 5px; 
}
.lobbyGameCard {
	/*margin: 5px;
	height: 38px;*/
}

.gameCardNameText {
	font-size: 14px;
	font-weight: 600; 
	margin: -3px 5px 0 5px;
	color: white; 
	/*
	font-size: 16px;
	font-weight: 600; 
	margin: 0 0 0 5px;
	text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #444,  
      1px -1px 0 #444,
      -1px 1px 0 #444,
       1px 1px 0 #444;*/
}
.gameCardInfoText {
	font-size: 12px; 
	color: #000; 
	text-shadow: none; 
}

.lost
{
	color: gray;
}
.gamePlayersDiv {
	margin: 10px 0 10px 0; 
}
.playerCard
{
	color: black;
	/*border-radius: 8px;*/
	background-size: cover; 
	border-radius: 4px; 
	border: 1px solid black;
	font-size: 16px;
	margin: 4px;
	
	height: 52px;
	padding: 2px 4px 2px 2px;
}
.playerCardWidth {
	width: 400px;
}
.playerCardLevel {
	border-radius: 4px; 
	padding: 0px 2px 1px 1px; 
	border: 1px solid black; 
	background-color: green;
	color: yellow;
	min-width: 28px; 
}
.playerCardImage 
{
	width: 50px; 
	height: 50px;
	border: 1px solid black; 
}
.playerName
{
	font-size: 16px; 
	color: white;
	width: 250px;
	z-index: 1;
	margin: 6px 0 0 8px; 
	/*margin: 4px 0 -4px 0;*/
}
.playerTitle
{
	color: #aaa; 
	font-size: 14px; 
	margin-left: 8px; 
}

.playerAchScore
{
	font-size: 24px; 
	color: #FFCC66;
	z-index: 2;
	
}
.playerCardRound {
	color: cyan; 
	font-size:12px; 
	line-height: 22px;
}

.shadowed
{
	text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	 
}

.titleImage
{
	width: 320px;
	z-index: 1;
	margin: 8px 0 15px 0;
	position: absolute;
	left: 50%;
	top: 8px;
    margin: 0 0 0 -160px;
}



.imagebutton
{
	width: 32px; 
	height: 32px;
	margin: 3px;
	padding: 4px;
}
.menuimage 
{
	z-index: 100;
	position: absolute; 	
	top: 2px; 
	left: 0px; 
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	-o-transition:all 200ms ease-in-out;
	-ms-transition:all 200ms ease-in-out;	
	transition:all 200ms ease-in-out;
}

.menuimage[slideout]
{
	left: 149px;
}

.homeimage 
{
	z-index: 100;
	/*position: absolute; 	
	top: 2px; 
	left: 2px;
	*/
	position: absolute;
	left: 50%;
	top: 5px; 
    margin: 0 0 0 -150px;
	/*
	left: -149px; 
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	-o-transition:all 200ms ease-in-out;
	-ms-transition:all 200ms ease-in-out;	
	transition:all 200ms ease-in-out;
	*/
}
.homeimage[slideout]
{
	/* left: 8px; */
}

.achievement
{	
	position: absolute;
	bottom: 10px; 
	margin: 0 0 0 -155;
	width: 310px; 
	left: 50%;
	
	height: 75px;
	z-index: 1;
	padding: 4px; 
	
	background-image:url('/images/ach_bg.png');
	border-radius: 8px;
	border: 1px solid black;
}
.achievementBox
{	
	padding: 4px; 	
	background-image:url('/images/ach_bg.png');
	border-radius: 8px;
	border: 1px solid black;
}

.levelup {	
	position: absolute;
	bottom: 10px; 
	margin: 0 0 0 -155;
	left: 50%;
	width: 310px; 
	height: 75px;
	z-index: 1;
	padding: 8px 4px 4px 4px; 
	
	background-image:url('/images/levelup_bg.png');
	border-radius: 8px;
	border: 1px solid black;
}
.levelUpTitle {
	font-family: comic-sans, sans-serif; 
	font-weight: 900; 
	font-size: 20px; 
}

/*.achievement[slideup]
{
	top: 100%;
	opacity: 1;
	z-index: 1;
	margin: -95px 0 0 -155;
}*/

.achImage {
	width: 32px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/*border: 1px solid black;*/
}

.xpgain
{	
	background-image:url('/images/bluefeltbg.png');
	border-radius: 8px;
	padding: 5px; 
	margin: 0px;
	border: 2px solid black;
	
	position: absolute;
	top: -50px;
	left: 70%;
	/*width: 150px; */
	height: 40px;
	font-size: 28px;
	opacity: 0;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
	-ms-transition:all 500ms ease-in-out;	
	transition:all 500ms ease-in-out;
	z-index: 1;
}
.xpgain[slideup]
{
	top: 0px;
	opacity: .7;
}



.tinyButton
{
	height:24px; 
	font-size: 16px; 
	padding: 0 2px 0 2px;
	margin: 0px;
}

.tabletop
{
	background-image:url('/images/greenfeltbg.png');
	border-radius: 8px;
	padding: 5px; 
	margin: 0px;
	width: 80%;
	border: 3px solid black;
}
.tabletop[feltcolor=blue]
{
	background-image:url('/images/bluefeltbg.png');
}
.tabletop[feltcolor=lightgreen]
{
	background-image:url('/images/lightgreenfeltbg.png');
}
.tabletop[feltcolor=red]
{
	background-image:url('/images/redfeltbg.png');
}


.score
{
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.playerChoice
{
	color: black;
	border-radius: 8px;
	border: 1px solid black;
	height: 27px;
	width: 200px;
	font-size: 14px;
	margin: 2px;
	background-color: white;
	padding: 2px;
}

.gameChoice
{
	color: black;
	border-radius: 8px;
	border: 1px solid black;
	height: 27px;
	font-size: 16px;
	margin: 4px;
	padding: 2px;
	background-color: white;
	/*white-space: nowrap;*/
}

.gameChoice[yourturn]
{
	background-color: #FFCC66;
}
.gameChoice[won]
{
	background-color: #CCDD66;
}
.gameChoice[lost]
{
	background-color: #DD6666;
}

.pCheckBox
{
	width: 21px;
	height: 21px;
	float: right; 
	margin: 3px; 
}

.farkleAlert
{
	position: absolute; 
	width: 300px; 
	left: 50%; 
	margin: 0 0 0 -150px;
	top: 100px; 
	border: 2px solid black;
}

.lobbyButton
{
	margin: 5px 1px 5px 1px; 
	width: 120px; 
	font-size: 12pt;
}

.lobbyGameWidth
{
	width: 60%;
	margin: 0px; 
}

.shadow {
  -moz-box-shadow:    -8px 8px 6px -6px black;
  -webkit-box-shadow: -8px 8px 6px -6px black;
  box-shadow:         -8px 8px 6px -6px black;
}

.showLeft
{
	left: 880px;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	-o-transition:all 200ms ease-in-out;
	-ms-transition:all 200ms ease-in-out;	
	transition:all 200ms ease-in-out;
}

.showRight
{
	left: -480px;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	-o-transition:all 200ms ease-in-out;
	-ms-transition:all 200ms ease-in-out;	
	transition:all 200ms ease-in-out;
}

.diceFrame
{
	background-image:url('/images/lightgreenfeltbg.png');
	border-radius: 8px;
	padding: 2px; 
	margin: 0px;
	border: 1px solid black;
}
.diceFrameWidth
{
	max-width: 420px;
}

.smalldice
{
	background: white;
	border-radius: 8px;
	border: 1px solid black;
	height: 27px;
	width: 27px;
	-moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}

.tinydice
{
	background: white;
	border-radius: 4px;
	border: 1px solid black;
	height: 16px;
	width: 16px;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
}
.dice
{
	display: inline;
	margin: 1px 1px 60px 1px;
	-moz-transition-duration:0ms;
	-webkit-transition-duration:0ms;
	-webkit-animation-duration:0ms; 
	-ms-transform-duration:0ms;
	
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

.dice[saved]
{
	margin: 60px 3px 3px 3px;
	-moz-transition-duration:0ms;
	-webkit-transition-duration:0ms;
	-webkit-animation-duration:0ms; 
	-ms-transform-duration:0ms;
}
.dice[scored]
{
	margin: 60px 3px 3px 3px;
	-moz-transition-duration:0ms;
	-webkit-transition-duration:0ms;
	-webkit-animation-duration:0ms; 
	-ms-transform-duration:0ms;
}
.dice[rolling]
{
  /*-webkit-animation: rotating 250ms linear infinite;*/
  -webkit-animation-name:rotater;   
  -webkit-animation-iteration-count:10; 
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  
  -moz-transition-duration:500ms;
  -webkit-transition-duration:500ms;
  -webkit-animation-duration:500ms; 
  -ms-transform-duration:500ms;  
}
/*.dice[stoppedRolling]
{
  -webkit-transform: rotate(0deg);
  -webkit-animation: none;
  -moz-transition-duration:0ms;
-webkit-transition-duration:0ms;
-webkit-animation-duration:0ms; 
-ms-transform-duration:0ms;
}*/
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
	
}

.dice[disabled]
{
	/*background: #dddddd;*/
	-moz-transition-duration:0ms;
	-webkit-transition-duration:0ms;
	-webkit-animation-duration:0ms; 
	-ms-transform-duration:0ms;
}

.friendDiv
{
	height: 32px; 
	width: 200px; 
	color: black;
	border-radius: 8px;
	border: 1px solid black;
	font-size: 14px;
	margin: 3px;
	padding: 3px;
}

.xpBarWidth {
	width: 340px;
}
#xpBar {
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #1d8711 50%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#1d8711), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#1d8711 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4e391 0%,#1d8711 50%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4e391 0%,#1d8711 50%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4e391 0%,#1d8711 50%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}
#xpNeg {
background: #a3a3a3; /* Old browsers */
background: -moz-linear-gradient(top,  #a3a3a3 1%, #353535 51%, #9b9b9b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a3a3a3), color-stop(51%,#353535), color-stop(100%,#9b9b9b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a3a3a3 1%,#353535 51%,#9b9b9b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a3a3a3 1%,#353535 51%,#9b9b9b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a3a3a3 1%,#353535 51%,#9b9b9b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a3a3a3 1%,#353535 51%,#9b9b9b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */

}

.playerCardBg {
	border: 1px solid black; 
	margin: 5px; 
	width: 270px; 
	height: 35px;
}

.lobbyGamesCell {
	border: 1px solid black;
	background: rgba(255,255,255,.2);
	border-radius: 8px;
}	

@media screen and (max-width: 480px){
		.achievement
	{
		margin: 0 0 0 -145;
		width: 290px; 
		bottom: 8px; 
	}

	.tabletop
	{
		width: 100%;
	}

	table.tabLeaderboard {
		/*width: 310px;*/
		font-size: 12px;
	}

	.lobbyGameWidth
	{
		width: 170px;
		margin: 0px; 
	}

	.dice
	{
		height: 40px;
		width: 40px;
		margin: 1px 0px 40px 0px;
	}

	.dice[saved]
	{
		margin: 40px 0px 1px 0px;
	}
	.dice[scored]
	{
		margin: 40px 0px 1px 0px;
	}

	.xpgain
	{	
		left: 65%;
		font-size: 24px;
		height: 30px; 
	}
	.gamePlayersDiv {
		margin: 3px 0 3px 0; 
	}
	.playerCard
	{
		color: black;
		/*border-radius: 8px;*/
		background-size: cover; 
		border: 1px solid black;
		font-size: 16px;
		margin: 4px;
		width: 280px;
		height: 32px;
		padding: 1px 4px 2px 1px;
	}
	.playerCardWidth {
		width: 280px;
	}
	.playerCardImage 
	{
		width: 32px; 
		height: 32px;
		border: none; 
	}
	.playerName
	{
		font-size: 12px; 
		color: white;
		width: 150px;
		z-index: 1;
		margin: 4px 0 0 0; 
		/*margin: 4px 0 -4px 0;*/
	}
	.playerCardRound {
		font-size:10px; 
		line-height: 14px;
	}

	.playerTitle
	{
		color: #aaa; 
		font-size: 12px; 
		line-height: 28px;
		margin-top: -3px; 
	}
	.playerAchScore
	{
		font-size: 18px; 
	}
	.inGameInfo
	{
		margin: 2px 0 0 0;
	}

	.xpBarWidth {
		width: 220px;
	}
}

/* Bot Game Selection Modal */
.bot-select-modal {
	background: white;
	border-radius: 12px;
	padding: 24px;
	max-width: 500px;
	width: 90%;
	max-height: 90vh;
	overflow-y: auto;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.bot-select-modal h2 {
	color: #333;
	margin: 0 0 16px 0;
	text-align: center;
	font-size: 24px;
}

.bot-select-modal p {
	color: #666;
	margin: 0 0 20px 0;
	text-align: center;
}

.bot-option {
	background: white;
	border: 2px solid #e0e0e0;
	border-radius: 8px;
	padding: 16px;
	margin: 12px 0;
	cursor: pointer;
	transition: all 0.2s ease;
}

.bot-option:hover {
	border-color: #2196f3;
	box-shadow: 0 4px 8px rgba(33, 150, 243, 0.2);
	transform: translateY(-2px);
}

.bot-option h3 {
	margin: 0 0 8px 0;
	font-size: 18px;
	color: #333;
}

.bot-option p {
	margin: 0 0 4px 0;
	color: #666;
	font-size: 14px;
	text-align: left;
}

.bot-option small {
	color: #999;
	font-size: 12px;
}

/* Bot Button Styling */
.btn-bot-game {
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
	color: white !important;
}

/* Mobile responsiveness for bot modal */
@media (max-width: 600px) {
	.bot-select-modal {
		padding: 16px;
		width: 95%;
	}

	.bot-select-modal h2 {
		font-size: 20px;
	}

	.bot-option {
		padding: 12px;
	}

	.bot-option h3 {
		font-size: 16px;
	}
}